@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: rgba(190 242 100);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  color: white;
}
p {
  font-family: var(--font);
}

a {
  color: inherit;
  text-decoration: none;
}
